<div class="hero-unit">
  <h1>Ol&aacute;!</h1>
  <p>Seja bem vindo ao Draft Ideas, seu reposit&oacute;rio de id&eacute;ias!</p>
  <p>
    <a class="btn btn-primary btn-large" href="#">Saiba mais</a>
  </p>
</div>