<h1>Rascunho de Id&eacute;ias</h1>
<hr>
<%= link_to "Novo rascunho", new_draft_path, class: "btn btn-primary" %>
<br><br>
<table class="table table-striped">
  <thead>
    <tr>
      <th>T&iacute;tulo</th>
      <th>Tags</th>
      <th>Criado por</th>
    </tr>
  </thead>
  <tbody>
    <% @drafts.each do |draft| %>
      <tr>
        <td><%= link_to draft.title, draft %></td>
        <td><%= draft.tags %></td>
        <td><%= draft.user.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>